
  <div class="container">
  <div class="row">
    <div id="head" class="col text-center">
      <h3>Bug Report</h3>
      <div class="row">
        <p id="p1" class="text-start">Please be as detailed as possible to aid us in the troubleshooting process.</p>
      </div>
    </div>
  </div><br><br>
  
    <div class="container">
      <label>Your name*</label>
      <div class="row">
        <div class="col">
         <input class="form-control" type="text">
         <div class="form-text">First Name</div>
        </div>
        <div class="col">
          <input class="form-control" type="text">
         <div class="form-text">Last Name</div>
        </div>
      </div>
      <br>
      <div class="row">
        <label>Email*<input type="email" class="form-control"></label>
      </div>
      <br>
      <div class="row">
        <label>Date and time you first noticed this bug*<input type="date" class="form-control"><br><input type="time" class="form-control"></label>
      </div>

      <br>

      <div class="row">
        <label>Impact
          <select class="form-select" aria-label="Default select example"> 
          <option selected value ="1">Low</option>
          <option value="2">Medium</option>
          <option value="3">High</option>
        </select></label>
      </div>

      <br>

      <div class="row">
        <label>Detailed explanation of bug*<textarea class="form-control" rows="4"></textarea></label>
      </div>

      <div class="row">
        <div class="col text-center">
        <button class="btn btn-primary">Submit</button>
      </div>
      </div>
    </div>
</div>