
<div>
    <button class="btn btn-primary" (click) = "SendM()" >Submit</button>
</div>






<div class="container table-responsive">
    <table class="table align-middle">
        <tr>
            <th><p class="fw-normal" id="contact">Contact Our</p><br><br>
            <p class="fw-normal" id="support1">Customer Support Center</p></th>
            <th rowspan="3"><img src="https://www.shareicon.net/data/2015/05/21/41813_laptop_512x512.png"></th>
        </tr>
    </table>
</div>

<div class="container" id="div2">
    <div class="row">
        <div class="col">
            <p class="fw-normal">Contact Information</p>

        </div>
    </div>
    <div class="row">

        <h4>Please fill your contact information below</h4>
    </div>
</div>

<form class="form-control">
<div class="container">
        <div class="row">
            <label class="form-label">Name*</label>
            <div class="col">
              <input type="text" class="form-control">
             <div class="form-text">First Name</div>

            </div>
            <div class="col">
              <input type="text" class="form-control">
             <div class="form-text">Last Name</div>
            </div>
        </div>

        <br>
        <div class="col-12">
            <label class="form-label">Email*</label>
            <input type="email" class="form-control">
        </div>

        <br>
        <div class="col-12">
            <label class="form-label">Phone*</label>
            <input type="text" class="form-control">
        </div>

        <br>
        <div class="col-12">
            <label class="form-label">Address*</label>
            <input type="text" class="form-control">
        </div>
</div>

</form>