<div>
<h1>Books for angular :</h1>
<div *ngFor = "let value of booksAngular">
    <h3>{{value}}</h3>
</div>
</div>

<div>
    <h1>Books for NodeJs :</h1>
    <div *ngFor = "let value of booksNodeJS">
        <h3>{{value}}</h3>
    </div>
</div>


<div>
    <h1>Books for Big Data :</h1>
    <div *ngFor = "let value of booksBigData">
        <h3>{{value}}</h3>
    </div>
</div>


<div>
    <h1>Books for Android :</h1>
    <div *ngFor = "let value of booksAndroid">
        <h3>{{value}}</h3>
    </div>
</div>


<div>
    <h1>Books for Artificial Intelligence :</h1>
    <div *ngFor = "let value of booksAI">
        <h3>{{value}}</h3>
    </div>
</div>